.chat_screen{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.messages_container p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #292828;
}