.contact_data {
    display: flex;
    height: 100vh;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}

.contact_data_lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 60px;
    background-color: #f0f2f5;    
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    overflow: hidden;
}

.lateral_icons_head,
.lateral_icons_foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 0 20px 0;
    
    
}

.bi {
    font-size: 25px;
    color: #54656f;
    cursor: pointer;
    border-radius: 30%;
}

.bi:hover {
    color: #b9b9b9;
}

.profile_image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_image img:hover{
    cursor: pointer;
    border: 1px solid #b9b9b9;
}

/* --- SIDEBAR --- */
.contact_data_aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0px;
    flex-shrink: 1;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    
}


.contact_data_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    padding: 0 20px 0 16px;
}

.icon_title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_title {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: rgb(48, 201, 59)
}

.icon{
    width: 40px;
    height: 40px;
}

.div_contact_add_button {
    margin-left: auto; 
}

.contact_add_button {
    
    background: transparent;
    border: none;
    font-size: 24px;
    color: #54656f;
    cursor: pointer;
}


.contact_search {    
    width: 100%;
    height: 75px;
    background-color: #ffffff;    
    padding: 0 15px 0 15px;
}


/* LISTA DE CONTACTOS */
.contact_list {    
    overflow-y: auto;
    flex: 1;
    background-color: #fff;
}


/*-------------------------RESPONSIVE----------------*/

@media (min-width: 768px) and (max-width: 1024px) {
    .contact_data_lateral {
        width: 50px; 
    }

    .contact_data_aside {
        width: 100%; 
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .contact_data_lateral {
        width: 40px; 
        margin: 0 0 0 20px
    }

    .contact_data{
        width: 100%; 
        margin: 0 0 20px 0;
    }
}
