.message_list_container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    overflow: hidden;    
}

.messages_list {
    padding: 30px 5%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow-y: auto;
    flex: 1;
    font-size: 12px;
    font-family: "segoe ui', Arial, Helvetica, sans-serif";
}

.message_row {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
}

.message_own {
    justify-content: flex-end;    
}

.message_other {
    justify-content: flex-start;
}

.message_bubble {
    max-width: 70%;
    padding: 6px 7px 8px 9px;
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
    position: relative;
    font-size: 14.2px;
    line-height: 19px;
    color: #111b21;   
}

.message_own .message_bubble {
    background-color: #d9fdd3;
    border-top-right-radius: 0;
}

.message_other .message_bubble {
    background-color: #ffffff;
    border-top-left-radius: 0;
}

.message_text {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 16px;
    font-family: "Roboto Variable", "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", "Arial", "Ubuntu", "Cantarell", "Fira Sans", "sans-serif";
}

.message_time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0 0 0;
    float: right;
    font-size: 10px;
    color: #667781;
    height: 15px;
    font-family: "Roboto Variable", "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", "Arial", "Ubuntu", "Cantarell", "Fira Sans", "sans-serif";
}


.bi-check-all{
    font-size: 16px;
    
}