.contact_item{
    display: flex;        
    align-items: center; 
    /*border-bottom: 1px solid #e6e3e3;*/    
    width: 100%;
    height: 92px;   
    color: black;
    box-sizing: border-box;
    transition: all 0.2s ease;
    position: relative;
    z-index: 1;
}

.contact_item::before {
    content: ""; /* Obligatorio para que aparezca */
    position: absolute;
    top: 4px;    /* Margen superior interno */
    bottom: 4px; /* Margen inferior interno */
    left: 8px;   /* Margen izquierdo interno */
    right: 8px;  /* Margen derecho interno */
    border-radius: 20px; /* Bordes redondeados */
    background-color: transparent; /* Invisible por defecto */
    z-index: -1; /* Se coloca detrás del avatar y el texto */
    transition: background-color 0.2s ease;
}

.contact_item:hover::before {
    background: #f5f5f5;     
}

.contact_avatar{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; 
    height: 75px;     
    flex-shrink: 0;
    padding: 0 0 0 10px;
}

.contact_avatar img{
    width: 55px;
    height: 55px;
    border-radius: 55%;
    object-fit: cover;    
}

.contact_name_last{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    width: 100%;    
    padding: 0 0 0 8px;
    
}

.contact_name_last h2{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.contact_name_last p{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.date_unseen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    padding: 0 10px 0 0;
}

.unseen{
    padding: 0 12px 0 0;
}

.contact_date{   
    font-size: 12px;
    color: #777;
    padding: 10px 20px 0 0;
    font-weight: bold;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
}


.contact_name{ 
    font-size: 20px;
    font-weight: 400;
    font-family:"Roboto Variable", "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", "Arial", "Ubuntu", "Cantarell", "Fira Sans", "sans-serif"; 
}

.last_message{      
    font-size: 18px;
    color: #292828;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;

}

.messages_unseen{
    background: #25d366;
    color: white;
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
    
    
}

.loading_message  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.loading_img{
    width: 100%;      
    height: auto;
}

.loading_message{
    position: fixed;    
    width: 100vw;     
    height: 100vh;     
    background-color: white; 
    display: flex;     
    justify-content: center;
    align-items: center;   
    z-index: 9999;     
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
}

.loading_text {
    font-size: 20px;
    color: #292828;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
}

.no_results{
    font-size: 18px;
    color: #292828;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
    padding: 0 0 0 20px;

}