.contact_item{
    display: flex;        
    align-items: center;      
    width: 100%;
    height: 92px;   
    color: black;
    box-sizing: border-box;
    transition: all 0.2s ease;
    position: relative;
    z-index: 1;
}

.contact_item::before {
    content: ""; 
    position: absolute;
    top: 4px;    
    bottom: 4px; 
    left: 8px;  
    right: 8px;  
    border-radius: 20px; 
    background-color: transparent;
    z-index: -1; 
    transition: background-color 0.2s ease;
}

.contact_item:hover::before {
    background: #f5f5f5;     
}

.contact_avatar{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; 
    height: 75px;     
    flex-shrink: 0;
    padding: 0 0 0 10px;
}

.contact_avatar img{
    width: 55px;
    height: 55px;
    border-radius: 55%;
    object-fit: cover;    
}

.contact_name_last{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    width: 100%;    
    padding: 0 0 0 8px;
    
}

.contact_name_last h2{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.contact_name_last p{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.date_unseen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    padding: 0 10px 0 0;
}

.unseen{
    padding: 0 12px 0 0;
}

.contact_date{   
    font-size: 12px;
    color: #777;
    padding: 10px 20px 0 0;
    font-weight: bold;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
}


.contact_name{ 
    font-size: 20px;
    font-weight: 400;
    font-family:"Roboto Variable", "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", "Arial", "Ubuntu", "Cantarell", "Fira Sans", "sans-serif"; 
}

.last_message{      
    font-size: 18px;
    color: #292828;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;

}

.messages_unseen{
    background: #25d366;
    color: white;
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;   
    
}

.no_results{
    font-size: 18px;
    color: #292828;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
    padding: 0 0 0 20px;

}