.search_container {    
    position: relative;
    width: 330px;

}

.search_input {
    width: 100%;
    height: 40px;
    background-color: #f0f2f5;
    border: none;
    border-radius: 20px;
    padding-left: 40px;  /* deja espacio para el icono */
    font-size: 14px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    outline: none;
}

.search_icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #54656f;   /* gris de WhatsApp */
    pointer-events: none; /* evita que el icono bloquee el click */
}