.search_container {    
    position: relative;
    width: 100%;    
    
}

.search_input {
    width: 100%;
    height: 50px;
    background-color: rgb(246,245,244);
    border: none;
    border-radius: 20px;
    padding-left: 45px;
    font-size: 14px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    outline: none;    
}

.search_icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #54656f; 
    pointer-events: none; 
    padding:2px 20px 0 3px;
}